

$aspect-factor : 56.25%;

$midnight : darken(#435060, 20%);
$light-midnight : lighten(#435060, 40%);

.width {
    
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    // @media screen and (min-width: 481px) {
    //     padding-left: 40px;
    //     padding-right: 40px;
    // }
    // @media screen and (min-width: 768px) {
    //     margin-left: auto;
    //     margin-right: auto;
    //     width: 700px;
    // }
    // @media screen and (min-width: 1024px) {
    //     width: 950px;
    // }
    // @media screen and (min-width: 1280px) {
    //     width: 1100px;
    // }
}

.nav-item {
    position: relative;
    border-bottom: 1px solid $midnight;
    z-index: 50;
    padding: 0;
    width: calc(100% / 5);
    &-home {
        border-bottom: none;
    }
}

.border-bottom {
    border-bottom: 1px solid $midnight;
}
.active {
    margin-right: -1px!important;
    margin-left: -1px!important;
    border-right: 1px solid $midnight;
    border-left: 1px solid $midnight;
    border-top: 1px solid $midnight;
    border-bottom: none;
    .dropdown {
        width: calc(100% + 2px);
    }
}
.dropdown {
    visibility: collapse;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 64px;
    border-right: 1px solid $midnight;
    border-left: 1px solid $midnight;
    border-bottom: 1px solid $midnight;
}
.nav-item:hover {
    .dropdown {
        visibility: visible;
    }
}

.dropdown:hover {
    display : block;
}

.nav-link {
    transition: ease .25s;
}

.nav-item:hover {
    .nav-link {
        transform: translate(0, -3px);
    }
}

.bg-midnight {
    background-color: $midnight;
}

.text-midnight {
    color: $midnight;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.featured {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    img, .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    img {
        object-fit: cover;
        object-position: bottom;
    }
    .overlay {
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 20%, rgba(0,0,0,0.8));
    }
    .cat-link {
        position: absolute;
        top: 70%;
        left: 65%;
        color: white;
        font-size: 30px;
        .cat-line {
            width: 0;
            margin-top: -8px;
            transition: .25s ease;
        }
        @media screen and (min-width: 768px) {
            font-size: 50px;
            .cat-line {
                margin-top: -15px;
            }
        }
        justify-content: flex-end;
        transform: translate(-50%, -50%);
        a {
            text-align: right;
            text-shadow: 0px 0px 50px black;
            letter-spacing: 0.3em;
        }
        
        &:hover {
            .cat-line {
                width: 100%!important;
            }
        }
    }
}

.featured-item {
    display: none;
    &-active {
        display: block;
    }
}

.masonry-grid {
    $gap: 3px;
    margin-left: -$gap;
    margin-right: -$gap;
    &-item {
        cursor: pointer;
        padding: $gap;
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 33.3333%;
        }
        
        &:hover {
            .title-overlay {
                display: block;
            }
            
        }
    }
    .title-overlay {
        position: absolute;
        left: $gap;
        top: $gap;
        bottom: $gap;
        right: $gap;
        display: none;
        background-color: rgba(0,0,0,0.6);
        &__inner {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
    img {
        width: 100%;
    }
}

.footer-container {
    border-top: 1px solid $midnight;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

#slide-overlay {
    visibility: collapse;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    .slide-container {
        max-height: 90vh;
        width: 70vw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        img {
            max-height: calc(90vh - 50px);
            margin-left: auto;
            margin-right: auto;
        }
        
    }

}

.arrow {
    position: fixed;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    i {
        font-size: 30px;
        @media screen and (min-width: 768px) {
            font-size: 50px;
        }
    }
}

td, th {
    padding: 10px 10px;
}

th {
    text-align: left;
}

.lg-menu {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.menu-line, .logo-line {
    transition: ease .25s;
}

.menu:hover {
    .menu-line {
        width: 25px!important;
    }
    .logo-line {
        margin-right: 5px;
        width: 15px!important;
    }
}

.side-menu {
    position: fixed;
    width: 280px;
    height: 100vh;
    z-index: 10000;
    right: -280px;
    transition: .3s ease;
    &-open {
        right: 0;
    }
}

.open:focus {
    border: none;
}

.sticky {
    position: fixed;
    bottom: -56px;
    right: 20px;
    transition: .5s;
    &-reveal {
        bottom: 20px;
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000000;
    background-color: rgba(0,0,0,0.6);
    display: none;
    &-inner {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10000001;
    }
}





