


$midnight : darken(#435060, 20%);
$light-midnight : lighten(#435060, 40%);

.width {
    
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    @media screen and (min-width: 481px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }
    @media screen and (min-width: 1024px) {
        width: 950px;
    }
    @media screen and (min-width: 1280px) {
        width: 1100px;
    }
}
.nav-item {
    position: relative;
    border-bottom: 1px solid $midnight;
    z-index: 50;
    
}
.active {
    margin-right: -1px;
    margin-left: -1px;
    border-right: 1px solid $midnight;
    border-left: 1px solid $midnight;
    border-top: 1px solid $midnight;
    border-bottom: none;
}
.dropdown {
    visibility: collapse;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 64px;
    border-right: 1px solid $midnight;
    border-left: 1px solid $midnight;
    border-bottom: 1px solid $midnight;
}
.nav-item:hover {
    .dropdown {
        visibility: visible;
    }
}

.dropdown:hover {
    display : block;
}

.nav-link {
    transition: ease .25s;
}

.nav-item:hover {
    .nav-link {
        transform: translate(0, -3px);
    }
}

.bg-midnight {
    background-color: $midnight;
}

.text-midnight {
    color: $midnight;
}

.title-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    background-color: rgba(0,0,0,0.6);
    &__inner {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}

.image-container {
    cursor: pointer;
    position: relative;
    &:hover {
        .title-overlay {
            display: block;
        }
        
    }
}

.footer-container {
    border-top: 1px solid $midnight;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

#slide-overlay {
    visibility: collapse;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    .owl-carousel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        max-height: fit-content;
    }
    .owl-stage-outer {
        width: calc(100% - 2px);
    }
    .owl-dots {
        display: none;
    }
    img {
        max-height: 70vh;
    }
}

.arrow {
    position: fixed;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    i {
        font-size: 30px;
        @media screen and (min-width: 768px) {
            font-size: 50px;
        }
    }
}
