$midnight : darken(#435060, 20%);
$light-midnight : lighten(#435060, 40%);

.width {
    
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    @media screen and (min-width: 481px) {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    @media screen and (min-width: 768px) {
        width: 700px;
    }
    @media screen and (min-width: 1024px) {
        width: 950px;
    }
    @media screen and (min-width: 1280px) {
        width: 1100px;
    }
}
.nav-item {
    position: relative;
    border-bottom: 1px solid $midnight;
    
}
.active {
    margin-right: -1px;
    margin-left: -1px;
    border-right: 1px solid $midnight;
    border-left: 1px solid $midnight;
    border-top: 1px solid $midnight;
    border-bottom: none;
}
.dropdown {
    visibility: collapse;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 64px;
    border-right: 1px solid $midnight;
    border-left: 1px solid $midnight;
    border-bottom: 1px solid $midnight;
}
.nav-item:hover {
    .dropdown {
        visibility: visible;
    }
}

.dropdown:hover {
    display : block;
}

.nav-link {
    transition: ease .25s;
}

.nav-item:hover {
    .nav-link {
        transform: translate(0, -3px);
    }
}

.bg-midnight {
    background-color: $midnight;
}

.text-midnight {
    color: $midnight;
}

