.width {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.nav-item {
  position: relative;
  border-bottom: 1px solid #191e24;
  z-index: 50;
  padding: 0;
  width: calc(100% / 5); }
  .nav-item-home {
    border-bottom: none; }

.border-bottom {
  border-bottom: 1px solid #191e24; }

.active {
  margin-right: -1px !important;
  margin-left: -1px !important;
  border-right: 1px solid #191e24;
  border-left: 1px solid #191e24;
  border-top: 1px solid #191e24;
  border-bottom: none; }
  .active .dropdown {
    width: calc(100% + 2px); }

.dropdown {
  visibility: collapse;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 64px;
  border-right: 1px solid #191e24;
  border-left: 1px solid #191e24;
  border-bottom: 1px solid #191e24; }

.nav-item:hover .dropdown {
  visibility: visible; }

.dropdown:hover {
  display: block; }

.nav-link {
  transition: ease .25s; }

.nav-item:hover .nav-link {
  transform: translate(0, -3px); }

.bg-midnight {
  background-color: #191e24; }

.text-midnight {
  color: #191e24; }

body {
  min-height: 100vh;
  overflow-x: hidden; }

.featured {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .featured img, .featured .overlay {
    position: absolute;
    height: 100%;
    width: 100%; }
  .featured img {
    object-fit: cover;
    object-position: bottom; }
  .featured .overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)); }
  .featured .cat-link {
    position: absolute;
    top: 70%;
    left: 65%;
    color: white;
    font-size: 30px;
    justify-content: flex-end;
    transform: translate(-50%, -50%); }
    .featured .cat-link .cat-line {
      width: 0;
      margin-top: -8px;
      transition: .25s ease; }
    @media screen and (min-width: 768px) {
      .featured .cat-link {
        font-size: 50px; }
        .featured .cat-link .cat-line {
          margin-top: -15px; } }
    .featured .cat-link a {
      text-align: right;
      text-shadow: 0px 0px 50px black;
      letter-spacing: 0.3em; }
    .featured .cat-link:hover .cat-line {
      width: 100% !important; }

.featured-item {
  display: none; }
  .featured-item-active {
    display: block; }

.masonry-grid {
  margin-left: -3px;
  margin-right: -3px; }
  .masonry-grid-item {
    cursor: pointer;
    padding: 3px;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .masonry-grid-item {
        width: 33.3333%; } }
    .masonry-grid-item:hover .title-overlay {
      display: block; }
  .masonry-grid .title-overlay {
    position: absolute;
    left: 3px;
    top: 3px;
    bottom: 3px;
    right: 3px;
    display: none;
    background-color: rgba(0, 0, 0, 0.6); }
    .masonry-grid .title-overlay__inner {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%; }
  .masonry-grid img {
    width: 100%; }

.footer-container {
  border-top: 1px solid #191e24; }

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white; }

#slide-overlay {
  visibility: collapse;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); }
  #slide-overlay .slide-container {
    max-height: 90vh;
    width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }
    #slide-overlay .slide-container img {
      max-height: calc(90vh - 50px);
      margin-left: auto;
      margin-right: auto; }

.arrow {
  position: fixed;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 8%; }
  .arrow i {
    font-size: 30px; }
    @media screen and (min-width: 768px) {
      .arrow i {
        font-size: 50px; } }

td, th {
  padding: 10px 10px; }

th {
  text-align: left; }

.lg-menu {
  display: none; }
  @media screen and (min-width: 768px) {
    .lg-menu {
      display: flex; } }

.menu-line, .logo-line {
  transition: ease .25s; }

.menu:hover .menu-line {
  width: 25px !important; }
.menu:hover .logo-line {
  margin-right: 5px;
  width: 15px !important; }

.side-menu {
  position: fixed;
  width: 280px;
  height: 100vh;
  z-index: 10000;
  right: -280px;
  transition: .3s ease; }
  .side-menu-open {
    right: 0; }

.open:focus {
  border: none; }

.sticky {
  position: fixed;
  bottom: -56px;
  right: 20px;
  transition: .5s; }
  .sticky-reveal {
    bottom: 20px; }

.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000000;
  background-color: rgba(0, 0, 0, 0.6);
  display: none; }
  .loading-overlay-inner {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000001; }

/*# sourceMappingURL=app.css.map */
