.width {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 640px) {
    .width-limited {
      max-width: 600px; } }
  @media screen and (min-width: 768px) {
    .width-limited {
      max-width: 700px; } }
  @media screen and (min-width: 1024px) {
    .width-limited {
      max-width: 980px; } }
  @media screen and (min-width: 1280px) {
    .width-limited {
      max-width: 1200px; } }
  @media screen and (min-width: 1536px) {
    .width-limited {
      max-width: 1300px; } }

.nav-item {
  position: relative;
  border-bottom: 1px solid #191e24;
  z-index: 50;
  padding: 0;
  width: calc(100% / 5); }
  .nav-item-home {
    border-bottom: none; }

.border-bottom {
  border-bottom: 1px solid #191e24; }

.active {
  margin-right: -1px !important;
  margin-left: -1px !important;
  border-right: 1px solid #191e24;
  border-left: 1px solid #191e24;
  border-top: 1px solid #191e24;
  border-bottom: none; }
  .active .dropdown {
    width: calc(100% + 2px); }

.dropdown {
  visibility: collapse;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 64px;
  border-right: 1px solid #191e24;
  border-left: 1px solid #191e24;
  border-bottom: 1px solid #191e24; }

.nav-item:hover .dropdown {
  visibility: visible; }

.dropdown:hover {
  display: block; }

.nav-link {
  transition: ease .25s; }

.nav-item:hover .nav-link {
  transform: translate(0, -3px); }

.bg-midnight {
  background-color: #191e24; }

.text-midnight {
  color: #191e24; }

body {
  min-height: 100vh;
  overflow-x: hidden; }

.featured {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .featured img, .featured .overlay {
    position: absolute;
    height: 100%;
    width: 100%; }
  .featured img {
    object-fit: cover; }
  .featured .cat-link {
    position: absolute;
    top: 70%;
    right: 5%;
    color: white;
    z-index: 2;
    font-size: 25px;
    justify-content: flex-end;
    transform: translate(0, -50%); }
    .featured .cat-link .cat-line {
      width: 0;
      margin-top: -4px;
      transition: .25s ease; }
    @media screen and (min-width: 768px) {
      .featured .cat-link {
        font-size: 40px;
        right: 10%; }
        .featured .cat-link .cat-line {
          margin-top: -8px; } }
    .featured .cat-link a {
      text-align: right;
      text-shadow: 0px 0px 50px black;
      letter-spacing: 0.3em; }
    .featured .cat-link:hover .cat-line {
      width: 100% !important; }

.overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8)); }

.featured-item {
  display: none; }
  .featured-item-active {
    display: block; }

#showcase .image-grid {
  margin-left: -10px;
  margin-right: -10px !important; }
#showcase .title-overlay {
  left: 10px;
  top: 0;
  bottom: 0;
  right: 10px; }
#showcase .image-grid-item {
  padding: 0 10px; }
#showcase .owl-nav {
  font-size: 75px;
  width: 100vw;
  transform: translate(50vw, 0); }
#showcase .owl-prev, #showcase .owl-next {
  transform: translate(-100%);
  padding: 0 20px !important; }
#showcase .owl-item {
  border: none; }

#clients {
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  background-image: url("../photos/elements-window-frost-2211681742642.webp"), linear-gradient(to bottom, black, rgba(0, 0, 0, 0.7)); }

.diagonal {
  width: calc(100% + 30px);
  background-image: linear-gradient(to top left, black 50%, rgba(243, 244, 246, var(--tw-bg-opacity)) 50%); }

.image-grid .title-overlay {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6); }
  .image-grid .title-overlay__inner {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
.image-grid-item {
  cursor: pointer; }
  .image-grid-item:hover .title-overlay {
    display: block; }

.masonry-grid {
  margin-left: -3px;
  margin-right: -3px; }
  .masonry-grid .title-overlay {
    left: 3px;
    top: 3px;
    bottom: 3px;
    right: 3px; }
  .masonry-grid-item {
    padding: 3px;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .masonry-grid-item {
        width: 33.3333%; } }
  .masonry-grid img {
    width: 100%; }

.footer-container {
  border-top: 1px solid #191e24; }

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white; }

#slide-overlay {
  visibility: collapse;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); }
  #slide-overlay .slide-container {
    max-height: 90vh;
    width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }
    #slide-overlay .slide-container img {
      max-height: calc(90vh - 50px);
      margin-left: auto;
      margin-right: auto; }

.arrow {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 8%; }
  .arrow i {
    cursor: pointer; }
  .arrow i {
    font-size: 30px; }
    @media screen and (min-width: 768px) {
      .arrow i {
        font-size: 50px; } }

td, th {
  padding: 10px 10px; }

th {
  text-align: left; }

.lg-menu {
  display: none; }
  @media screen and (min-width: 1024px) {
    .lg-menu {
      display: flex; } }

.menu-line, .logo-line {
  transition: ease .25s; }

.menu:hover .menu-line {
  width: 25px !important; }
.menu:hover .logo-line {
  margin-right: 5px;
  width: 15px !important; }

.side-menu {
  position: fixed;
  width: 280px;
  height: 100vh;
  z-index: 10000;
  right: -280px;
  transition: .3s ease; }
  .side-menu-open {
    right: 0; }

.open:focus {
  border: none; }

.sticky {
  position: fixed;
  bottom: -56px;
  right: 20px;
  transition: .5s; }
  .sticky-reveal {
    bottom: 20px; }

.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000000;
  background-color: rgba(0, 0, 0, 0.6);
  display: none; }
  .loading-overlay-inner {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000001; }

.scroll-content {
  min-height: 20vh; }
  .scroll-content__inner {
    display: none; }

#about-me video {
  width: 100%; }
#about-me p:not(:last-of-type) {
  margin-bottom: 20px; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20.4px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 15.6px;
  width: 15.6px;
  left: 2.4px;
  bottom: 2.4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #3b82f6; }

input:focus + .slider {
  box-shadow: 0 0 1px #3b82f6; }

input:checked + .slider:before {
  -webkit-transform: translateX(15.6px);
  -ms-transform: translateX(15.6px);
  transform: translateX(15.6px); }

/* Rounded sliders */
.slider.round {
  border-radius: 20.4px; }

.slider.round:before {
  border-radius: 50%; }

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 80px;
  transform: translate(-50%, 0);
  top: 80%;
  left: 50%;
  position: relative;
  z-index: 1;
  padding-bottom: 43px; }

.arrow-container:hover {
  cursor: pointer; }

.chevron {
  position: absolute;
  width: 1.4rem;
  height: 0.32rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite; }

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite; }

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite; }

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: white; }

.chevron:before {
  left: 0;
  transform: skewY(30deg); }

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg); }

@keyframes move-chevron {
  25% {
    opacity: 1; }
  33.3% {
    opacity: 1;
    transform: translateY(1.52rem); }
  66.6% {
    opacity: 1;
    transform: translateY(2.08rem); }
  100% {
    opacity: 0;
    transform: translateY(3.2rem) scale(0.5); } }
.error {
  display: none; }

/*# sourceMappingURL=app.css.map */
